@{
    ViewData["Title"] = "Index";
}

<h1>Tipo Medicamento</h1>

<div id="divBusqueda">
    <select class="form-select" aria-label="Default select example">
        <option selected>Abre este seleccionador para filtrar cabeceras</option>
        <option value="1" id="1">id Medicamento</option>
        <option value="2" id="2">Nombre</option>
        <option value="3" id="3">Descripcion</option>
    </select>
</div>

<div id="divtabla">

</div>

<script src="~/js/generic.js"></script>
<script src="~/js/tipomedicamento.js"></script>